---
import Page from "../layouts/page.astro";
import Section from "../components/section.astro";
import Navigation from "../components/navigation.astro";
import TextSection from "../components/text-section.astro";
import CardSection from "../components/card-section.astro";
import CardDynamic from "../components/card-dynamic.astro";

import { getCollection, type CollectionEntry } from "astro:content";

const posts: CollectionEntry<"posts">[] = await getCollection("posts");
const categories: Set<string> = new Set(posts.map((post) => post.data.category))
const tags: Set<string> = new Set(posts.map((post) => post.data.tags).flatMap(tag => tag))
---

<Navigation active="Blog" />

<Page>
    <Section>
        <TextSection>
            <h1>Posts</h1>
        </TextSection>
        <CardSection>
            {posts.map(post => (
                <CardDynamic>
                    <h2><a href={`/posts/${post.id}`} target="_blank">{post.data.title}</a></h2>
                    <p><strong>Date</strong>: {post.data.date.toDateString()} </p>
                    <p><strong>Category</strong>: {post.data.category} </p>
                    <p><strong>Tags</strong>: {post.data.tags.join(', ')} </p>
                    <p>
                        {post.data.description}
                    </p>
                </CardDynamic>
            ))}
        </CardSection>
    </Section>
</Page>

